{% extends 'base4.html.twig' %}
{% block title %}
<table border="2">
<div class="chit-chat-heading">liste conges</div>
    <tr>
        <td>reference conge</td>
        <td>date conge</td>
        <td>motif conge</td>
        <td>nombre jours conge</td>
        <td>id employe correspondant</td>


    </tr>
    {# <form method="post" action="{{ path ('tri') }}">
        <label>trier par date</label>
       <input type="submit" value="tri">
    </form>#}

    {% for x in listconge %}

        <tr>


            <td> {{x.idconge}}</td>
            <td> {{x.dateconge|date('Y-m-d')}}</td>
            <td> {{x.motifconge}}</td>
            <td> {{x.nbjourconge}}</td>
            <td> {{x.employe}}</td>



            <td> <a href="{{ path('deletecs',{'idconge':x.idconge}) }}">Delete conge</a></td>

        </tr>

    {% endfor %}

</table>

{% endblock  %}


