<head>
    <title>Event {{ nom }}</title>
</head>
<h1> Event Name: {{nom}}</h1>
<h1> Start Date: {{Date}}</h1>
<h1> End Date: {{Date_Fin}}</h1>
<h1> Capacity: {{capacite}}</h1>
<h1> Placement: {{emplacement}}</h1>

<p style="color:red;">Tout droit reserve avec HappyLand.</p>