{% extends 'film_base.html.twig' %}
{% block title %}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <div class="card-block table-border-style">
    <div class="table-responsive">
    <table class="table table-hover">

    <tr>
        <td>id film</td>
        <td>nom</td>
        <td>Description</td>
        <td>date sortie</td>
        <td>categorie</td>
        <td>Update</td>
        <td>Delete</td>
</tr>

    {% for x in listfilm %}
        <tr>
            <td> {{x.id_film}}</td>
            <td> {{x.nomfilm}}</td>
            <td> {{x.descriptionf}}</td>
            <td> {{ x.datesortie | date('d/m/Y') }}</td>
            <td> {{x.categorie}}</td>
            <td><a href="{{ path('updateFilm',{'id_film':x.id_film}) }}"><i class="fa fa-edit" style="font-size:18px"></i>modifier</a></td>
            <td><a href="{{ path('deletef',{'id_film':x.id_film}) }}"><i class="fa fa-trash" style="font-size:18px"></i>EFFACER</a></td>
        </tr>

    {% endfor %}
</table>
    </div>
    </div>
{% endblock %}